atomman/library/xsd/dislocation.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified">
  <xsd:element name="dislocation">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="key" type="xsd:string"/>
        <xsd:element name="id" type="xsd:string"/>
        <xsd:element name="character">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="edge"/>
              <xsd:enumeration value="screw"/>
              <xsd:enumeration value="mixed"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="Burgers-vector" type="xsd:string"/>
        <xsd:element name="slip-plane" minOccurs="3" maxOccurs="3" type="xsd:integer"/>
        <xsd:element name="line-direction" minOccurs="3" maxOccurs="3" type="xsd:integer"/>
        <xsd:element name="system-family" type="xsd:string"/>
        <xsd:element name="calculation-parameter">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="slip_hkl" type="xsd:string"/>
              <xsd:element name="ξ_uvw" type="xsd:string"/>
              <xsd:element name="burgers" type="xsd:string"/>
              <xsd:element name="m" type="xsd:string"/>
              <xsd:element name="n" type="xsd:string"/>
              <xsd:element name="shift" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="shiftscale" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="shiftindex" type="xsd:string" minOccurs="0" maxOccurs="1"/>
             </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>