atomman/library/xsd/point_defect.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified">
  <xsd:element name="point-defect">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="key" type="xsd:string"/>
        <xsd:element name="id" type="xsd:string"/>
        <xsd:element name="system-family" type="xsd:string"/>
        <xsd:element name="calculation-parameter" minOccurs="1" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ptd_type">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="v"/>
                    <xsd:enumeration value="i"/>
                    <xsd:enumeration value="s"/>
                    <xsd:enumeration value="db"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="atype" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
              <xsd:element name="pos" type="xsd:string"/>
              <xsd:element name="db_vect" minOccurs="0" maxOccurs="1" type="xsd:string"/>
              <xsd:element name="scale" type="xsd:boolean"/>
             </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>