atomman/library/xsd/stacking_fault.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified">
  <xsd:element name="stacking-fault">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="key" type="xsd:string"/>
        <xsd:element name="id" type="xsd:string"/>
        <xsd:element name="system-family" type="xsd:string"/>
        <xsd:element name="calculation-parameter">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="hkl" type="xsd:string"/>
              <xsd:element name="a1vect_uvw" type="xsd:string"/>
              <xsd:element name="a2vect_uvw" type="xsd:string"/>
              <xsd:element name="shiftindex" type="xsd:string" minOccurs="0" maxOccurs="1"/>              
              <xsd:element name="cutboxvector">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="a"/>
                    <xsd:enumeration value="b"/>
                    <xsd:enumeration value="c"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
             </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>